<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li style="color: green;">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <nav>
        <a href="/" class="active">Home</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Upload an Image</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Upload</button>
    </form>
</body>
</html>


